.pointsBoard {
  width: 15rem;
}

.pointsBoard table {
  font-family: arial, sans-serif;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}

.pointsBoard th td {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.pointsBoard tr:nth-child(even) {
  background-color: #dddddd;
}

.win {
  background-color: #10d210 !important;
}
