.square {
  width: 100px;
  height: 100px;
  background-color: rgb(62, 58, 57);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.marker {
  font-size: xxx-large;
  position: absolute;
}

.ladder_climb {
  background-size: cover;
  background-image: url("../ladder.png");
}

.snake_bite {
  background-size: cover;
  background-image: url("../snake.png");
}

.current_position {
  background-color: cadetblue;
}

.tooltip {
  background: rgb(151 187 217);
  font-weight: bold;
  text-wrap: wrap;
}
