.square {
  width: 50px;
  height: 50px;
  background-color: rgb(62, 58, 57);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.marker {
  font-size: x-large;
  position: absolute;
  color: white;
}

.ladder_climb {
  background-size: cover;
  background-image: url("../ladder.png");
}

.snake_bite {
  background-size: cover;
  background-image: url("../snake.png");
}

.current_position {
  background-color: cadetblue;
}

.tooltip {
  background: rgb(151 187 217);
  font-weight: bold;
  text-wrap: wrap;
}

.userPosition {
  width: 20px;
  height: 20px;
  background: #1e248b;
  border-radius: 50%;
}
