.progress-bar {
  border: 2px solid grey;
  height: 1.5rem;
  width: 20rem;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.progress-fill {
  background-color: #60d539;
  height: 100%;
  transition: all 0.1s ease-out;
}

.progress-value {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: inherit;
}
