.progressBar {
  border: 2px solid grey;
  height: 15rem;
  width: 20rem;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.progressBar div {
}

.progressFill {
  background-color: #60d539;
  height: 100%;
  transition: all 0.1s ease-out;
}

.progressValue {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: inherit;
}
