.item {
  border: 1px solid lightslategrey;
  border-radius: 10px;
  overflow: hidden;
}

.header {
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
  font-size: larger;
  font-weight: bold;
  opacity: 0.8;
}

.header:hover {
  opacity: 1;
}

.expandButton {
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  background: darkgrey;
  height: 2.5rem;
}
