body {
  font-family: sans-serif;
}

.game-options {
  display: flex;
  gap: 1rem;
  margin-bottom: 10px;
}

.game-options button {
  border: none;
  border-radius: 10px;
  background-color: #9e9e9e;
  height: 2rem;
  cursor: pointer;
}
